:root {
    --bg-color: #162440;
    --fg-color: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    border: 5px solid var(--fg-color);
    border-radius: 1rem;
    width: 700px;
    height: 750px;
    gap: 5rem;
}

#block {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form * {
    width: 80%;

}

h1 {
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    align-self: center;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    font-size: 1rem;
    width: 450px;
    background-color: var(--bg-color);
    color: var(--fg-color);
    border: 2px solid var(--fg-color);
    border-radius: 0.6rem;
    padding: 0.5rem;
}

button {
    font-size: 1rem;
    background-color: var(--bg-color);
    color: var(--fg-color);
    border: 2px solid var(--fg-color);
    border-radius: 0.6rem;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
}

button:hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

img {
    width: 300px;
    height: 300px;
}